body {
    background-color: blanchedalmond;
}

table,td,th {
    border: 2px solid palevioletred ;
    
}

th{
    background-color: rgb(213, 111, 111);
}

td{
    padding: 5px;

}

table{
    width: 50%;
    font-size: medium;
    margin:0 auto;
    
}
#ip{
    width: 50%;
    margin: 0 5px;
    height: 200px;
    object-fit: cover;
}